body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin:0 auto;
  max-width: 1200px;
}
h1 {
  margin-bottom: 0px;
}

table.header_table{
  width: 100%
}

td.header_td {
  vertical-align: bottom;
  font-size: xx-large;
}

td.link_td {
  text-align: right;
  vertical-align: bottom;
}

div.search_resurt {
  margin: auto;
  max-width: 600px;
}

table.search_form{
  margin-bottom: 10px;
}

form.download_form{
  align: right;
}
